.page__categories-header {
  margin-top: 40px;
}

.categories-header__nav {
}

.categories-header__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  column-gap: 50px;
  row-gap: 15px;
}

.categories-header__link {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: "Inter";
}

.categories-header__link:before {
  content: "";

  display: block;
  width: 46px;
  height: 46px;

  border-radius: 50%;
  background-color: var(--color-theme-white);
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.05882 9.05905L0.94117 0.941406M0.94117 0.941406V6.35317M0.94117 0.941406H6.35293' stroke='%23FE141E' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 8px 8px;
  background-position: center center;
}

@media screen and (max-width: 1200px) {
  .page__categories-header {
    margin-top: 30px;
  }

  .categories-header__item:before {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 980px) {
  .page__categories-header {
    margin-top: 40px;
  }

  .categories-header__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 15px;
  }

  .categories-header__item:before {
    width: 52px;
    height: 52px;
  }
}
@media screen and (max-width: 560px) {
  .categories-header__list {
    display: grid;
    grid-template-columns: 1fr;

    grid-row-gap: 10px;

  }
}
