.home-categories {
  /* background-color: var(--color-theme-white); */
}

.home-categories__subtitle {
  margin-top: 10px;
}

.home-categories__list {
  margin-top: 110px;

  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  grid-column-gap: 20px;
  grid-row-gap: 40px;
}

.home-categories__item {
  position: relative;

  background-repeat: no-repeat;
  background-size: 110% 110%;
  background-position: center center;

  border-radius: 15px;
}

.home-categories__link:before {
  content: "";

  position: absolute;
  right: 35px;
  bottom: 30px;

  display: block;
  width: 45px;
  height: 45px;

  background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.05881 9.05896L0.941162 0.941315M0.941162 0.941315V6.35308M0.941162 0.941315H6.35293' stroke='%23FE141E' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 9px 9px;
  background-position: center center;

  border-radius: 50px;
  background-color: var(--color-theme-white);
}

.home-categories__link {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.home-categories__name {
  position: absolute;
  bottom: 40px;
  left: 35px;
  right: 90px;

  font-size: var(--font-title-medium);
  color: var(--color-theme-white);
}


/* ADAPTIVE */
@media screen and (max-width: 1200px) {

  .home-categories__list {
    margin-top: 30px;
    grid-auto-rows: 170px;
    grid-row-gap: 20px;
  }

  .home-categories__link {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: end;
    align-items: center;
  }

  .home-categories__link:before {
    position: static;

    width: 46px;
    height: 46px;
  }

  .home-categories__name {
    position: static;
    margin-top: 5px;
  }
}

@media screen and (max-width: 980px) {

  .home-categories__list {
    margin-top: 40px;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 140px;
    grid-row-gap: 10px;
  }

  .home-categories__name {
    font-size: var(--font-text-medium);
  }
}

@media screen and (max-width: 560px) {
  .home-categories__list {
    grid-template-columns: 1fr;
    grid-auto-rows: 170px;
    grid-row-gap: 15px;
  }
}
